header h1 {
    font-size: 40px;
  }
  header{
    height: 540px;
    color: whitesmoke;
    text-align: center;
    background-color: #05386B;
    width: 100%;
    /* border: 1px solid red; */
  }
  .header-text {
    margin-top: 0px;
  }
  .main-title {
    color: #4dc5af;
  }
  .main-button {
    background-color: transparent !important;
    color: #4dc5af !important;
    border-radius: 10px;
    border: 1px solid #4dc5af;
    width: 150px;
  }
  
  .sticky-icon-container {
    position: fixed;
    top: 220px;
    left: 30px;
  }
  
   .sticky-icon {
    margin: 20% 2% 10%;
    font-size: 53px;
    color: #41a796;
  } */
  
   .line {
    width: 1px;
    background-color: #4dc5af;
    height: 130px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .fixed-button {
    color: #4dc5af !important;
    background-color: #2f383f !important;
    border-radius: 15px !important;
    position: fixed;
    right: 50px;
  } 
  
  .typewriter-span {
    color: #17c761;
    font-size: 25px;
  }
  @media only screen and (max-width: 770px) {
    .fixed-button {
      right: 50px;
      z-index: 1;
    }
  }
  
  @media only screen and (max-width: 430px) {
    header {
      height: 595px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    header {
      height: 580px;
    }
    .header-text {
      margin-top: 55px;
    }
    .fixed-button {
      right: 50px;
      z-index: 1;
      bottom: 50px;
    }
    header h1 {
      font-size: 50px;
    }
  }
  